<html>
  <body>
  <h1>Information</h1>
  <table>
    <tr><td>Name</td><td>{{.Information.Firstname}} {{.Information.Lastname}}</td></tr>
    <tr><td>Title</td><td>{{.Information.Title}}</td></tr>
    <tr><td>Phone</td><td>{{.Information.Phone}}</td></tr>
    <tr><td>Email</td><td>{{.Information.Email}}</td></tr>
    <tr><td>Twitter</td><td>{{.Information.Twitter}}</td></tr>
  </table>

  <h1>Experiences</h1>
  {{ range $key, $exp := .SortedExperiences }}
    <h2>
      {{$exp.Title}} - {{$exp.Company}} ({{$exp.Start}} - {{$exp.End}})
    </h2>
    {{ range $key, $line := $exp.DescriptionLines }}
      <li>{{$line}}</li>
    {{ end }}
  {{ end }}

  <h1>Education</h1>
  {{ range $key, $edu := .SortedEducations }}
    <h2>
      {{$edu.Title}} - {{$edu.Year}} - {{$edu.School}}
    </h2>
    <p>
      {{$edu.Description}}
    </p>
  {{ end }}
  </body>
</html>
